<div class="w-100 vh-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <img src="../../../../../assets/logo.png" alt="IMG">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <div class="hesap">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Hesap
                    </a>
                    <ul class="dropdown-menu">
                      <!-- <li><a class="dropdown-item" [routerLink]="['/menu/account']">Hesap Bilgileri</a></li>
                      <li><a class="dropdown-item" >Çıkış</a></li> -->
                    </ul>
                  </li>
              </ul>
    
            </div>
          </div>
        </div>
      </nav>
      <div>
        <!-- <router-outlet/> -->
      </div>
</div>