<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="../../../../assets/img-01.png" alt="IMG">
            </div>

            <form [formGroup]="loginForm" (submit)="submit()" class="login100-form validate-form">
                <span class="login100-form-title">
                    Member Login
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" formControlName="email" name="text"
                        placeholder="nameExample">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="material-symbols-outlined">
                            person
                        </span> </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" formControlName="password" name="password"
                        placeholder="********">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="material-symbols-outlined">
                            lock
                            </span>                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" (click)="signUpRouter()">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>